.form {

}

.form__row, .form__label-row, .form__input-row, .form__input__text, .form__textarea {
	display: inline-block;
}

.form__row {
	width: 100%;
	border-bottom: 2px solid $formRowBorderColor;
	background-color: $formRowBackground;
}

.form__row--link {

	@extend .form__row;

	background-color: darken($formRowBackground, 1.4%);
	position: relative;
	padding: 3px 0;

	.form__input-row {
		padding-right: 25px;
		&:after {
			@extend .#{$fa-css-prefix};
			content: $fa-var-chevron-right;
			font-size: 2.5rem;
			position: absolute;
			top: 50%;
			margin-top: -1.25rem; // -50% of font-size
			right: 12px;
		}
	}

	&.ng-click-active, &.active {
		background-color: darken($formRowBackground, 5%);
	}

}

.form__label {
	display: inline-block;
	vertical-align: middle;
	width: $formLabelWidth_default;
	padding: 0 5px 0 15px;
	word-break: break-all;
}

.form__label-row--w20p {
	@extend .form__label-row;
	width: 19%;
}

.form__input-row {
	width: $formInputWidth_default;
	padding: 10px 15px 10px 8px;
	> span {
		display: inline-block;
	}
}

.form__input-row--w80p {
	@extend .form__input-row;
	width: 79%;
}

.form__input__text, .form__textarea {

	background-color: $formInputBackground;
	border: 0;

	@include border-radius(4px);

	&:focus {
		background-color: $formInputBackgroundFocus;
		box-shadow: none;
	}

	&.ng-invalid {
		border: 2px solid lighten($red, 8%);
		outline-color: lighten($red, 8%);
	}

}
.form__input__text, .form__textarea {
	font-size: $baseFontSize + .1rem;
}

.form__input__text {
	width: $formSelectWidth;
	line-height: 1.7;
	padding: 4px 15px;
}

.form__textarea {
	width: $formSelectWidth;
	line-height: 1.4;
	padding: 5px 10px;
	min-height: 14rem;
	height: auto;
	margin: 0 auto;
}

.form__input__select {
	height: $formSelectHeight;
	width: $formSelectWidth;
	max-width: $formSelectMaxWidth;
	z-index: 1;
	-webkit-appearance: menulist-button; //Important
	-moz-appearance: menulist-button; //Important
}

.form__input__select[multiple] {
	height: auto;
	min-height: $formSelectHeight * 3;
	max-height: $formSelectHeight * 6;
	-webkit-appearance: none;
	-moz-appearance: none;
}
