<header class="navigation-bar">
	<div class="navigation-bar__item quarter left" ng-show="leftButton">
		<div class="navigation-bar__button" ng-click="leftButton.tap();"><i class="fa fa-2x" ng-class="leftButton.iconClass"></i></div>
	</div>
	<div class="navigation-bar__item half center">
		<h1 class="navigation-bar__title">{{heading}}</h1>
	</div>
	<div class="navigation-bar__item quarter right" ng-show="rightButton">
		<div class="navigation-bar__button" ng-click="rightButton.tap()"><i class="fa fa-plus fa-2x"></i></div>
	</div>
</header>

<div class="wrap"><div scrolly-scroll>

	<ul class="list-mobile">

		<li class="clearfix list-mobile__item" ng-if="!competitionTags">
			<div class="list-mobile__item__content">
				<h2 ng-i18next="noTagLoadedHeading"></h2>
				<p ng-i18next="noTagLoadedDescription"></p>
			</div>
		</li>

	</ul>

	<form class="form">

		<div class="form__row" ng-repeat="label in competitionTags track by $index">
			<div class="form__label-row--w20p center">
				{{label.id + 1}}
			</div>
			<div class="form__input-row--w80p">
				<input class="form__input__text" type="text" name="name" ng-model="label.name">
			</div>
		</div>

		<div class="form__row center">
			<a class="button" ng-click="addTag()" ng-i18next="addTag"></a>
		</div>

	</form>

	<div class="clearfix">
		<div class="half alignLeft">
			<span class="content" style="display:inline-block;padding-top:40px;" ng-show="isSaving">{{'saving' | i18next}}...</span>
			<span class="content" style="display:inline-block;padding-top:40px;" ng-show="!isSaving && isSaved">{{'saved' | i18next}}</span>
		</div>

		<div class="half alignLeft"><a ng-click="saveCompetitionTags(competitionTags)" class="button--large alignRight" ng-i18next="save"></a></div>
	</div>

	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

</div></div>

<div ng-selectmenu></div>
